body{
	font-size:1em;
	font-family:Arial;
	margin:0px;
}
.page{}

.clear{ clear:both; }
.banner{
	border-bottom:1px solid #ccc;
}

.banner .inner{
	width:1000px;
	margin:auto;
}
.banner .inner .brand{
	padding:20px 0px;
	font-size:1.4em;
	width:50%;
	display:inline-block;
	box-sizing:border-box;
	color:#204a87;
}

.banner .inner .brand img{ vertical-align:middle; margin:0px 10px 0px 0px; }
.banner .inner .userctrl{
	padding:20px 0px;
	font-size:1em;
	width:50%;
	display:inline-block;
	box-sizing:border-box;
	text-align:right;
}

.menu{
	width:100%;
	border-bottom:1px solid #ccc;
	background-color:#eee;
}

.menu .inner{
	width:1000px;
	margin:auto;
	border-right:1px solid #ccc;
}

.menu .inner a{
	display:block;
	float:left;
	padding:10px 30px;
	border-right:1px solid #ccc;
	cursor:pointer;
}

.menu .inner a:first-child{
	border-left:1px solid #ccc;
}

.menu .inner a:hover{
	background-color:#ddd;
}

.menu .inner .spacer{ padding:10px; border-left:1px solid #ccc; }
.heading{
	border-bottom:1px dotted #ccc;
}

.heading .inner{
	width:1000px;
	padding:10px;
	font-size:1.2em;
	color:#204a87;
	margin:auto;
	box-sizing:border-box;
}

.footer{
	background-color:#eee;
}
.footer .inner{
	padding:20px 0px;
	text-align:center;
	border-top:1px solid #ccc;
	color:#204a87;
}

.footer .inner a{
	text-decoration:none;
	color:#204a87;
}

.content_space{
	width:1000px;
	margin:auto;
}

.content_space .inner{
	min-height:500px;
}

.status{
	position:fixed;
	top:30px;
	left:50%;
	width:400px;
	margin-left:-200px;
}

.status .error, .status .ok{
	background-color:#cc0000;
	padding:10px;
	margin-top:1px;
	color:#fff;
	box-shadow:0px 0px 15px #aaa;
	border-radius:4px;
}

.status .ok{
	background-color:#4e9a06;
}

.progress_indicator{
	background-color:#000;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:800px;
	padding-top:300px;
	text-align:center;
	color:#fff;
	font-size:1.5em;
	opacity:0.7;
	animation-name:blink;
	animation-duration:1s;
	animation-iteration-count:infinite;
	font-weight:bold;
	/*display:none;*/
}

@keyframes blink{
	0%{ color:#000; }
	50%{ color:#fff; }
	100%{ color:#000; }
}

.formholder{
	width:600px;
	margin:auto;
}

.formholder .row{
	display:table-row;
}

.formholder .row .label,.formholder .row .element{
	display:table-cell;
	padding:3px;
}

.formholder .row .label{
	width:200px;
}

.formholder .row .element{
	width:400px;
}

input[type=text],input[type=password],select,textarea{
	box-sizing:border-box;
	width:100%;
	padding:8px;
	font-family:Arial;
	font-size:1em;
	border:1px solid #ccc;
	border-radius:5px;
}

input[type=text]:focus,input[type=password]:focus,select:focus,textarea:focus{
	border:1px solid #ef2929;
}

.formholder .row .btngroup{
	padding:3px;
}

input[type=submit],input[type=button]{
	border:1px solid #204a87;
	background-color:#3465a4;
	color:#fff;
	font-size:1em;
	font-family:Arial;
	padding:8px 14px;
	border-radius:5px;
}

#fieldError{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#ef2929;
	color:#fff;
	border-radius:0px 0px 0px 15px;
	padding:10px 10px 10px 20px;
	box-shadow:0px 3px 5px #666;
}
